.md-header {
    background-color: #F8A91F;
}

.alert-word {
    color:  #fb0e0e;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #F8A91F;
  --md-default-fg-color--light: #F8A91F;
  --md-accent-fg-color: #F8A91F;
  --md-typeset-a-color: #F8A91F !important;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color:       #F8A91F;
  --md-default-fg-color--light: #F8A91F;
  --md-accent-fg-color: #F8A91F;
}

.center {
    margin: auto;
    display: block;
}